name: Build
on:
  push:
    branches: [main]
  pull_request:
env:
  TZ: 'Asia/Tokyo'
jobs:
  build:
    name: Run build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 22
          cache: npm
      - run: npm install
      - run: npm run build
