name: ESLint
on:
  push:
    branches: [main]
  pull_request:
env:
  TZ: 'Asia/Tokyo'
jobs:
  eslint:
    name: Run eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: npm
      - run: npm install
      - run: npm run lint
