name: Holiday
on:
  workflow_dispatch:
  push:
env:
  TZ: 'Asia/Tokyo'
jobs:
  holiday:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.tool-versions'
      - run: npm install @holiday-jp/holiday_jp
      - uses: actions/github-script@v8.0.0
        with:
          script: |
            const holidayJp = require('@holiday-jp/holiday_jp');
            const today = new Date();
            console.log(today);
            if (holidayJp.isHoliday(today)) {
              throw new Error('祝日はSKIP');
            }
