name: Prettier
on:
  push:
    branches: [main]
  pull_request:
env:
  TZ: 'Asia/Tokyo'
jobs:
  prettier:
    name: Run prettier:check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: npm
      - run: npm install
      - run: npm run prettier
